.appBar {
    background-color: #000000 !important; /* Black background */
    display: flex;
    align-items: center;
    padding: 10px;
  }

  .appBar img{
    height: 30px;
  }
  
  .toolbar {
    display: flex;
    justify-content: space-between;
  }
  
  .appBarTitle {
    color: #fefffe; /* Bright green text */
    font-family: 'Monument Extended', sans-serif;
    font-weight: 700;
  }
  
  .googleLogin {
    display: flex;
    align-items: center;
  }
  