.googleSignUpButton {
    background-color: #f5b430; /* Bright yellow background */
    color: #000000; /* Black text */
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Monument Extended', sans-serif;
    font-weight: 500;
  }
  
  .googleSignUpButton:hover {
    background-color: #c59300; /* Darker yellow on hover */
  }
  